# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Local env files (crucial for security in public repos)
.env
.env*.local
!.env.example

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
